# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Database
*.db
*.db-journal

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
